# dependencies
node_modules/

# environment variables (VERY IMPORTANT)
.env

# prisma generated client
generated/
src/generated/
src/uploads/

# logs
*.log

# OS files
.DS_Store
Thumbs.db
C:\Users\Manula PC\Desktop\Web Development\Node-JS\User_Management_Backend_3-express_js
